:root {
    --main-bg-color: rgb(225,230,230);
    --sidebar-color: rgb(50,150,220);
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 180px auto;
    margin: 0;
    
}

header {
    background: white;
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 5em;
    padding: 5px;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

header input {
    border-radius: 15px;
    background: var(--main-bg-color);
    border: none;
    width: 50%;
    height: 1.8em;
}

header .header-first-row {
    display:flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center;
    padding-left: 2rem;

}

header .header-first-row label{
    padding-right: 5px;
    flex: 0 0 auto;
}

header .header-first-row .alert{
    padding-right: 25px;
    width: auto;
    margin-left: auto;
}

header .header-first-row img{
    width: auto;
    margin: none;
    padding-right: 10px;
}

header .header-first-row .username{
    margin-left: 10px;
    margin-right: 50px;
}

header .header-second-row {
    display:flex; 
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center;
    padding-left: 2em;
}

header .header-second-row .greeting {
    margin-left: 10px;
    margin-right: auto;
}

header .header-second-row ul { 
    list-style: none;  
}

header .header-second-row ul li { 
    display: inline-block;
    margin-right: 2rem;
}

header .header-second-row ul li button { 
    display: inline-block;
    background: var(--sidebar-color);
    border-radius: 20px;
    border: none;
    color: white;
    height: 2.5rem;
    width: 6rem;
    font-size: 1rem;
    margin-top: 2.5rem;
}


.sidebar {
    background: var(--sidebar-color);
    color: white;
    grid-area: 1 / 1 / 3 / 2;
    padding-top: 1em;
    padding-right: 1rem;    
    width: auto;
    display: flex;
    flex-direction: column;
}

.sidebar .dashboard-header {
    display: flex;
    flex-direction: row;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: center;
    padding-left: 2rem;
    margin-bottom: 2rem;
}
    
.sidebar img{
    padding-right: .5rem;
    height: 1.3rem;
}

.sidebar .dashboard-header img{
    padding-right: .5rem;
    height: 3rem;

}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
  }

.sidebar a, .sidebar a:visited,.sidebar a:active {
    color: white;
    text-decoration: none;
  }

main {
    background: var(--main-bg-color);
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr 1fr;
}

.projects {
    margin-left: 20px;
    margin-top: 30px;
    grid-area: 1 / 1 / 3 / 2;
}

.project-deck {
    display: grid;
    grid-template-columns: 320px 320px;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 20px 35px;

}
.project-card {
    background: white;
    height: auto;
    width: 290px;
    border-radius: 8px;
    border-left: 8px solid rgb(250,200,0);
    padding: 1em 1em;
    color: rgb(130,130,130);
}

.project-card h4 {
    color: black;
}
